body {
    background-color: #2e3a45;
    color: white;
}

a {
    color: lightcoral;
}

h1 {
    font-size: 10px;
    width: 100%;
    color: lightcoral;
    text-align: center;
}

h2 {
    font-size: 12px;
    color: lightgrey;
    text-align: center;
    font-weight: lighter;
    font-family: "Trebuchet MS", sans-serif;
}

table.menuTable {
    width: 90vw;
    max-width: 800px;
    height: 30px;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
}

table.mainTable {
    width: 90vw;
    max-width: 800px;
    height: 400px;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
    font-family: "Courier New", monospace;
}

tr {
    border: 1px solid white;
}

td {
    background-color: black;
}

td.main {
    line-height: 3vh;
    border: 1px solid white;
    vertical-align: top;
    padding: 7px;
}

span.console {
    color: lightgreen;
}

span.response {
    color: white;
}

span.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
